<div class="navBar" id="mainnav">
	<a href="/">Cover</a><br /><br />

	<a href="/download/">Download</a><br />
	<a href="/download/support.html">Donate</a><br /><br />
	
	<!--<a href="/exhibition/">Exhibition</a><br /><br />-->
	
	<a href="/reference/" class="active">Reference</a><br />
	<a href="/reference/libraries/">Libraries</a><br />
	<a href="/reference/tools/">Tools</a><br />
	<a href="/reference/environment/">Environment</a><br /><br />
	
	<a href="/tutorials/">Tutorials</a><br />
	<a href="/examples/">Examples</a><br />
	<a href="/books/">Books</a><br />
    <!--<a href="/handbook/">Handbook</a><br /><br />-->

	<a href="/overview/">Overview</a><br />
	<a href="/people/">People</a><br /><br />

	<!--<a href="/shop/">Shop</a><br /><br />-->
    

	<a href="https://discourse.processing.org" class="outward"><span>&raquo;</span>Forum</a><br />
    <a href="https://github.com/processing" class="outward"><span>&raquo;</span>GitHub</a><br />
    <a href="https://github.com/processing/processing/issues?state=open" class="outward"><span>&raquo;</span>Issues</a><br />
    <a href="https://github.com/processing/processing/wiki/" class="outward"><span>&raquo;</span>Wiki</a><br />
    <a href="https://github.com/processing/processing/wiki/FAQ" class="outward"><span>&raquo;</span>FAQ</a><br />
    <a href="https://twitter.com/processingOrg" class="outward"><span>&raquo;</span>Twitter</a><br />
	<!--<a href="https://www.facebook.com/page.processing" class="outward"><span>&raquo;</span>Facebook</a><br />-->
	<a href="https://medium.com/@ProcessingOrg/" class="outward"><span>&raquo;</span>Medium</a>
</div>